/* --- GENERAL STYLE --- */
body {
    margin: 0;
    padding: 0;
    background: #F5F7FA;
    font-family: Arial, sans-serif;
    color: #1E1E1E;
}

.container {
    max-width: 1250px;
    margin: 40px auto;
    padding: 0 20px;
}

/* --- TITLE --- */
.car-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* --- IMAGE BOX --- */
.main-image {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.gallery {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.gallery img {
    width: 100%;
    height: 95px;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
}

/* --- RIGHT SIDEBAR --- */
.sidebar {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.1);
}

.price {
    font-size: 30px;
    font-weight: bold;
    color: #E00000;
    margin-bottom: 10px;
}

.car-info {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.status {
    background: #DFF5E0;
    color: #1B7F35;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
}

.contact-btn {
    display: block;
    text-align: center;
    padding: 12px;
    background: #FF0000;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

.contact-btn:hover {
    background: #b81f23;
    transform: translateY(-2px);
}

/* --- SPECIFICATIONS --- */
.box {
    background: #ffffff;
    padding: 25px;
    margin-top: 35px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.box-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
}

.spec-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

/* --- DESCRIPTION --- */
.description {
    font-size: 15px;
    line-height: 1.7;
}
